.about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.about_img {
    width: 40%;
    height: 80%;
}

.about_img img {
    width: 80%;
    height: 100%;
    border-radius: 20px;

}


.about_text {
    width: 40%;
    height: 80%;
}

.about_text h1 {
    color: #00d1ff;
    text-align: left;
    font-size: 28px;
}

.about .about_text p {
    margin-top: 10px;
    text-align: justify;
}

.about_text .skill {
    margin-top: 10px;
}

.skill h4 {
    margin-right: 20px;
    background-color: transparent;
    cursor: pointer;
}

.skill .skill-header {
    display: flex;
    justify-content: start;
    align-items: center;
}



.aboutwhite {
    color: white;
}

.activeTab {
    color: #00d1ff;
    border-bottom: 2px solid #00d1ff;
}

.aboutdark {
    color: black;
}

.skill-section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.skill-section .language {
    color: white;
    border: 1px solid #00d1ff;
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.language span {
    margin-left: 3px;
    font-style: italic;
}

.html {
    color: red;
}

.css {
    color: rgb(47, 161, 199);
}

.js {
    color: yellow;
}


.react {
    color: #00d1ff;
}

.php {
    color: rgb(25, 144, 184);
}

.education-section {
    width: 60%;
    height: 100%;
    text-align: left;
    margin-top: 20px;
}

.education-section span {
    color: #00d1ff;
    font-weight: bolder;
    margin-bottom: 0px;
}

.education-section .text p {
    border-left: 5px solid #00d1ff;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 0.5rem;
}





@media screen and (max-width:1095px) {
    .about_img {
        display: none;
    }

    .about {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_text {
        width: 100%;
    }

    .about_text h1 {
        text-align: center;
    }

    .about_text .skill-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .skill h4 {
        margin-left: 5px;
    }


    .skill-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }


    .education-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .education-section .text {
        width: 80%;
        text-align: justify;
    }

}